.trackhub-element {
    border-top: 0;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;

    .toolbar {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.valis-browser {
    width: 100%;
    min-height: 200px;
}

.valis-genome-visualizer {
    .react-object-container {
        div {
            background-color: white !important;
            color: #333333;
        }
    }
}

.hpgv_ui-block {
    color: #364565;
    background-color: #fff;
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.hpgv_panel {
    color: #333;
    font-size: 12px;
}

.hpgv_track-sequence {
    --nucleobase-a: #d06fa9;
    --nucleobase-t: #e89188;
    --nucleobase-g: #4bd897;
    --nucleobase-c: #44a4dc;
    --gc-banding-low: #882a51;
    --gc-banding-high: #1bffff;
    --text-color: rgba(255, 255, 255, 0.7);
    --text-additive-blending: 1.0; /* set to 0.0 for dark text colors */
}

.hpgv_track {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    --loading-indicator: #8ea1bf;
    --cursor: #3645653b;
    --secondary-cursor: #3645653b;
}

.hpgv_track-close-button {
    display: none;
}

.hpgv {
    color: black;
}

.hpgv_ui-block {
    color: black;
}

.hpgv_track-sequence {
    color: black;
}
